body {
    background-image : url('../img/astolfo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin:0 auto;
}
p {
    padding: 0;
    margin: 1vh 0 0 1vh;
}
@font-face {
    font-family: CascadiaCode;
    src: url('../font/cascadia code/Cascadia.ttf')
}

div.foreground {
    background: #00010A;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}
div.terminal {
    position: absolute;
    width: 100%;
    height: 100%;
}
.terminal {
    color: #FFC0CB;
    font-family: CascadiaCode;
    position: relative;
}